{% extends 'site/base.html' %}
{% block content %}
<div id="gallery-content-center" style="position: relative; overflow: hidden; height: 1200px;" class="gallery-content-center-full isotope">
{% for post in posts %}
<a class="example-image-link" href="{{post.image.url}}" data-lightbox="example-set" data-title="{{post.name}}<br>{{post.description}}">
    <img class="example-image" src="{{post.image.url}}" class="all landscape isotope-item"  style="position: absolute; left: 0px; top: 0px; transform: translate3d(620px, 420px, 0px) scale3d(1, 1, 1); opacity: 1;" alt=""/>
</a>
{% endfor %}
</div>
{% endblock %}