{% extends 'site/base.html' %}
{% block content %}
{% for subcategory in showposts %}
{% if forloop.first %}
        {% load static %}
<div class="category-parallax" style="background: url({{subcategory.category.cover.url}});background-size: cover; background-attachment: fixed;background-position:center center;">
    <div class="col-sm-6" style="padding:4em;">
        <h1 style="color:#eeeeee;">{{subcategory.category}}</h1><br>
        <h5 style="color:#eeeeee;">{{subcategory.category.description}}</h5>
    </div>
</div>
    {% endif %}
{% endfor %}
<div class="row" style="margin:20px;">
{% for subcategory in showposts %}
    <div class="col-sm-6">
        <a href="{{subcategory.slug}}">
        {% if subcategory.cover %}
        <img class="portfolio-grid-image" width="100%" src="{{subcategory.cover.url}}">
        {% endif %}
        <div class="row">
            <div class="col-sm-6">
                <h4 style="color:#1c2d34;">{{subcategory.name}}</h4>
            </div>
            <div class="col-sm-6">
                {%if subcategory.posts_count >= 1 %}
                <p style="float:right"><i>Post count: {{subcategory.posts_count}}</i></p>
                {% endif %}
            </div>
        </div></a>
        {% if subcategory.description%}
            <p style="color:#1c2d34;" align="justify">{{subcategory.description}}</p>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}